{% extends 'emp_app/base.html' %}
{% block title %}Index | OEMS {% endblock title %}
{% block content %}   
    <div class="container ">
        <h1>Office Management System</h1>
        <hr>
        <a href="list_emp/"><button type="button" class="btn btn-primary">List Employee</button></a>
        <a href="add_emp/"><button type="button" class="btn btn-primary">Add Employee</button></a>
        <a href="filter_emp/"><button type="button" class="btn btn-primary">Filter Employee</button></a>
        <a href="delete_emp/"><button type="button" class="btn btn-primary">Delete</button></a>

    </div>
    {% endblock content %} 
   